  <div id="footer">
    {{#display_icons}}
    <div class="tagline">
      Powered by:
      <p>
        <a href="https://github.com/onetimesecret/onetimesecret"> One-Time Secret</a>
      </p>
      <p class="release">{{ot_version}}-{{ot_version_id}}-{{locale}}</p>
    </div>
    {{/display_icons}}

  </div>

</div> <!-- /container -->

<script src="/js/vendor/bootstrap.min.js"></script>

<script src="/js/plugins.js?{{ot_version_id}}"></script>
<script src="/js/main.js?{{ot_version_id}}"></script>
{{#js}}
<script src="{{to_s}}" type="text/javascript"></script>
{{/js}}
<script type="text/javascript">
  //$('.jumbotron h1').removeClass('temp-kerning');
  //Cufon.refresh();
</script>

{{#with_analytics}}
<!-- No analytics enabled by default (or on onetimesecret.com). -->
{{/with_analytics}}

<!-- {{via_hn}}:{{via_test}}:{{via_reddit}} -->
</body>
</html>

